<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Django avançado </h1>
    <p> Dados da seção: {{message}} </p>

    {% if object_list %}
        {% for person in object_list %}
            <p> {{person}} </p>
        {% endfor %}
    {% else %}
        <h2> There are no person added yet. </h2>
    {% endif %}

</body>
</html>